body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* navbar custome background color */
.custom-btn {
  background-color: #fff !important;
}

.nav-link{
  margin-left: 40px;
}

.stle{
  /* padding-top: 5px; */
  padding-right: 15px;
  padding-bottom: 15px;
}

.fa-brands{
  font-size: 20px;
  color: rgb(109, 109, 109);
}
